body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
.opinion{
    font-size: calc(1em + 1vw);
    margin: 5%;
    text-align: center;
}
.opinion>h2{
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fin{
    font-size: calc(1em + 1vw);
    text-align: center;
    margin-top: 200px;
}
.MP{
    font-size: calc(1em + 1vw); 
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(4, 0, 245) 3%, rgb(5, 80, 179) 36%, rgb(190, 179, 179) 87%);
}
.btn{
    
        background: #119af5;
        background-image: -webkit-linear-gradient(top, #119af5, #025a91);
        background-image: -moz-linear-gradient(top, #119af5, #025a91);
        background-image: -ms-linear-gradient(top, #119af5, #025a91);
        background-image: -o-linear-gradient(top, #119af5, #025a91);
        background-image: linear-gradient(to bottom, #119af5, #025a91);
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        font-family: Georgia;
        color: #ffffff;
        font-size: 20px;
        padding: 16px 18px 12px 17px;
        border: solid #000000 2px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #ebf1f5;
        background-image: -webkit-linear-gradient(top, #ebf1f5, #3498db);
        background-image: -moz-linear-gradient(top, #ebf1f5, #3498db);
        background-image: -ms-linear-gradient(top, #ebf1f5, #3498db);
        background-image: -o-linear-gradient(top, #ebf1f5, #3498db);
        background-image: linear-gradient(to bottom, #ebf1f5, #3498db);
        text-decoration: none;
      }
.watt1{
    width: 100%;
text-align: center;
}
/* footer */

footer{
    background: #d1810a;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #070606;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: rgb(5, 91, 221);
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #000000;
}
a>link{
    text-decoration: none;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: #fff;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
